<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<th:block layout:fragment="title"><title>매입/출 리스트</title></th:block>
<th:block layout:fragment="css"><link rel="stylesheet" th:href="@{/css/table/list.css}"></th:block>

<div layout:fragment="content">
    <!-- 검색 조건 -->
    <form class="search-form" action="/table/list" method="get">
        <div class="input-range">
            <label for="searchDate">날짜 범위</label><input id="searchDate" type="date" name="dateStart"><div class="symbol-range">~</div><input id="dateEnd" type="date" name="dateEnd">
        </div>

        <div>
            <label for="searchTitle">제목</label><input id="searchTitle" type="text" name="title">
        </div>

        <div>
            <label for="searchContent">내용</label><input id="searchContent" type="text" name="content">
        </div>

        <div>
            <label for="searchWriter">작성자</label><input id="searchWriter" type="text" name="writer">
        </div>

        <div class="input-range">
            <label for="searchAmount">수량 범위</label><input id="searchAmount" type="number" name="amountStart"><div class="symbol-range">~</div><input type="number" name="amountEnd">
        </div>

        <div class="input-range">
            <label for="searchPrice">단가 범위</label><input id="searchPrice" type="number" step="any" name="priceStart"><div class="symbol-range">~</div><input type="number" step="any" name="priceEnd">
        </div>

        <button type="submit">검색</button>
    </form>

    <!-- 매입/출 목록 -->
    <form th:action="@{/table/register}" th:object="${accountDTO}" method="post">
        <input type="hidden" th:each="info:${pageRequestDTO.info}" th:name="${info.key}" th:value="${info.value}">
        <table class="account-table">
        <thead>
        <tr>
            <th class="th-date">날짜</th>
            <th class="th-title">제목</th>
            <th class="th-price">단가</th>
            <th class="th-amount">수량</th>
            <th class="th-totalPrice">총 금액</th>
            <th class="th-writer">작성자</th>
        </tr>
        </thead>

        <tbody class="main-table">
        <tr th:each="dto:${responseDTO.dtoList}">
            <td class="col-date">[[${#temporals.format(dto.date, 'yyyy-MM-dd')}]]</td>
            <td class="col-title"><a th:href="|@{/table/read(ano = ${dto.ano})}&${pageRequestDTO.link}${accountSearchDTO.link}|">[[${dto.title}]]</a><span th:if="${dto.replyCount > 0}" th:text="|${' ['}${dto.replyCount}${']'}|"></span></td>
            <td class="col-price">[[${#numbers.formatDecimal(dto.price,0,'COMMA',2,'POINT')}]]</td>
            <td class="col-amount">[[${dto.amount}]]</td>
            <td th:class="|${dto.snp ? 'sales' : 'purchase'} col-totalPrice|">[[${dto.snp ? '+' : '-'}]][[${#numbers.formatDecimal(dto.totalPrice,0,'COMMA',2,'POINT')}]]</td>
            <td class="col-writer">[[${dto.writer}]]</td>
        </tr>
        </tbody>

        <tfoot th:with="isUser = ${#authentication.principal != 'anonymousUser'}">
        <tr class="account-register-header" th:if="${isUser}">
            <!-- 페이지 정보 전달 -->
            <td>
                <input th:field="*{date}" id="date" type="date" name="date">
                <p th:if="${#fields.hasErrors('date')}" th:errorclass="error" th:errors="*{date}"/>
            </td>
            <td>
                <input th:field="*{title}" id="title" type="text" name="title" placeholder="제목을 입력하세요">
                <p th:if="${#fields.hasErrors('title')}" th:errorclass="error" th:errors="*{title}"/>
            </td>
            <td>
                <input th:field="*{price}" id="price" onchange="calcTotalPrice()" type="number" min="0" step="any" name="price" placeholder="단가를 입력하세요">
                <p th:if="${#fields.hasErrors('price')}" th:errorclass="error" th:errors="*{price}"/>
            </td>
            <td>
                <input th:field="*{amount}" id="amount" onchange="calcTotalPrice()" type="number" min="1" name="amount" placeholder="수량을 입력하세요">
                <p th:if="${#fields.hasErrors('amount')}" th:errorclass="error" th:errors="*{amount}"/>
            </td>
            <td>
                <input class="sales" id="totalPrice" type="text" readonly>
                <label for="snp" class="check-sales">매출(+)</label>
                <input class="hidden" id="snp" onchange="setSalesPurchaseBtnSwap()" type="checkbox" checked="on" name="snp">
            </td>
            <td>
                <input id="writer" type="text" name="writer" readonly th:value="${#authentication.principal.username}">
            </td>
        </tr>
        <tr class="account-register-body" th:if="${isUser}">
            <td colspan="6">
                <label style="display:block; padding-bottom: 10px;" for="content">내용</label>
                <textarea class="full-width" style="resize: none" th:field="*{content}" id="content" name="content" placeholder="내용을 입력하세요..."></textarea>
                <p th:if="${#fields.hasErrors('content')}" th:errorclass="error" th:errors="*{content}"/>
            </td>
        </tr>
        <tr class="account-register-footer" th:if="${isUser}">
            <td colspan="6">
                <button type="submit">등록</button>
            </td>
        </tr>
        <!-- 페이징 -->
        <tr class="account-pagination">
            <td colspan="6">
                <!-- 페이징 -->
                <ul class="pagination" th:with="link=@{/table/list(size = ${pageRequestDTO.size})}">
                    <th:block th:if="${responseDTO.prev}">
                        <!-- 이전 버튼 -->
                        <li >
                            <a th:href="|${link}&page=${responseDTO.start - 1}${accountSearchDTO.link}|">이전</a>
                        </li>
                    </th:block>

                    <th:block th:if="${responseDTO.total > 0}">
                        <!-- 페이지 번호 버튼 -->
                        <li th:each="i:${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                            <a th:class="${pageRequestDTO.page == i ? 'active' : ''}" th:href="|${link}&page=${i}${accountSearchDTO.link}|">[[${i}]]</a>
                        </li>
                    </th:block>

                    <th:block th:if="${responseDTO.next}">
                        <!-- 다음 버튼 -->
                        <li >
                            <a th:href="|${link}&page=${responseDTO.end + 1}${accountSearchDTO.link}|">다음</a>
                        </li>
                    </th:block>
                </ul>
            </td>
        </tr>
        </tfoot>
        </table>

        <table class="summary-table">
            <tr class="summary" th:with="totalSalesPrice = ${totalPrice['totalSalesPrice']}, totalPurchasePrice = ${totalPrice['totalPurchasePrice']}">
                <td colspan="1">매출 : [[${#numbers.formatDecimal(totalSalesPrice,1,'COMMA',2,'POINT')}]]</td>
                <td colspan="1">지출 : [[${#numbers.formatDecimal(totalPurchasePrice,1,'COMMA',2,'POINT')}]]</td>
                <td colspan="4">수익(매출 - 지출) : [[${#numbers.formatDecimal(totalSalesPrice - totalPurchasePrice,1,'COMMA',2,'POINT')}]]</td>
            </tr>
        </table>
    </form>
</div>

<script layout:fragment="script" th:inline="javascript">
    const priceInput = document.getElementById("price");
    const amountInput = document.getElementById("amount");
    const totalPriceInput = document.getElementById("totalPrice");
    const snpLabel = document.querySelector("label[for='snp']");

    function calcTotalPrice() {
        const price = Number.parseFloat(priceInput.value);
        const amount = Number.parseInt(amountInput.value);

        if(isNaN(price) || isNaN(amount)) return;

        totalPriceInput.value = (price * amount).toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function setSalesPurchaseBtnSwap() {
        if(!snp.checked) {
            snpLabel.innerText = "지출(-)";
            snpLabel.setAttribute("class", "check-purchase");
            totalPriceInput.setAttribute("class", "purchase");
        } else {
            snpLabel.innerText = "매출(+)";
            snpLabel.setAttribute("class", "check-sales");
            totalPriceInput.setAttribute("class", "sales")
        }
    }
</script>
</html>