<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<th:block layout:fragment="title"><title>매입/출 리스트</title></th:block>
<th:block layout:fragment="css"><link rel="stylesheet" th:href="@{/css/table/modify.css}"></th:block>

<div layout:fragment="content">
    <form th:action="@{/table/modify}" th:object="${accountDTO}" method="post" class="account-form wide-size">
        <input type="hidden" name="ano" th:field="*{ano}">

        <label for="date">날짜</label>
        <input id="date" type="date" th:value="${#temporals.format(accountDTO.date, 'yyyy-MM-dd')}" name="date">
        <p th:if="${#fields.hasErrors('date')}" th:errors="*{date}" th:errorclass="error"/>

        <label for="title">제목</label>
        <input id="title" th:field="*{title}">
        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" th:errorclass="error"/>

        <label for="price">단가</label>
        <input id="price" type="number" step="any" min="0" th:value="*{price}" name="price" onchange="calcTotalPrice()">
        <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" th:errorclass="error"/>

        <label for="amount">수량</label>
        <input id="amount" type="number" th:field="*{amount}" min="1" onchange="calcTotalPrice()">
        <p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" th:errorclass="error"/>

        <div class="totalPrice-form">
            <a id="salesBtn" th:class="${accountDTO.snp ? 'btn-sales' : ''}">매출</a>
            <a id="purchaseBtn" th:class="${accountDTO.snp ? '' : 'btn-purchase'}">지출</a>
            <input id="totalPrice"
                   type="text"
                   th:value="|${accountDTO.snp ? '+' : '-'}${#numbers.formatDecimal(accountDTO.totalPrice,0,'COMMA',2,'POINT')}|"
                   th:class="${accountDTO.snp ? 'sales' : 'purchase'}"
                   readonly>
            <input id="snp" type="hidden" th:field="*{snp}" name="snp">
        </div>

        <label for="writer">작성자</label><input id="writer" th:field="*{writer}" readonly>
        <label for="content">내용</label><textarea id="content" name="content">[[*{content}]]</textarea>
        <p th:if="${#fields.hasErrors('content')}" th:errors="*{content}" th:errorclass="error"/>
        <button type="submit">수정</button>
        <a th:href="|@{/table/list}?${pageRequestDTO.link}|">목록</a>
    </form>
</div>

<script layout:fragment="script" th:inline="javascript">
    const priceInput = document.getElementById("price");
    const amountInput = document.getElementById("amount");
    const totalPriceInput = document.getElementById("totalPrice");
    const snpInput = document.getElementById("snp");

    const salesBtn = document.getElementById('salesBtn');
    const purchaseBtn = document.getElementById('purchaseBtn');

    let salesPurchaseState = [[${accountDTO.snp}]];

    salesBtn.addEventListener('click', function() {
        purchaseBtn.setAttribute("class", "");
        salesBtn.setAttribute("class", "btn-sales");
        salesPurchaseState = true;

        snpInput.value = true;
        totalPriceInput.setAttribute("class", "sales");

        calcTotalPrice();
    }, false);

    purchaseBtn.addEventListener('click', function() {
        purchaseBtn.setAttribute("class", "btn-purchase");
        salesBtn.setAttribute("class", "");
        salesPurchaseState = false;

        snpInput.value = false;
        totalPriceInput.setAttribute("class", "purchase");

        calcTotalPrice();
    }, false);

    function calcTotalPrice() {
        const price = Number.parseFloat(priceInput.value);
        const amount = Number.parseInt(amountInput.value);

        if(isNaN(price) || isNaN(amount)) return;

        totalPriceInput.value = (salesPurchaseState ? '+' : '-') + (price * amount);
    }
</script>