<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<th:block layout:fragment="title"><title>로그인</title></th:block>
<th:block layout:fragment="css"><link rel="stylesheet" th:href="@{/css/member/login.css}"></th:block>

<div layout:fragment="content">
    <div th:if="${param.logout != null}">정삭적으로 로그아웃 되었습니다.</div>
    <form class="small-size login-form" action="/member/login" method="post">
        <label for="userId">아이디</label><input id="userId" type="text" name="username" placeholder="아이디를 입력해주세요">
        <label for="userPwd">비밀번호</label><input id="userPwd" type="password" name="password" placeholder="비밀번호를 입력해주세요">
        <div class="login-option">
            <label for="rememberUser">자동 로그인</label><input id="rememberUser" type="checkbox" name="remember-me">
        </div>
        <div>
            <button type="submit">로그인</button>
            <a class="no-style" href="/oauth2/authorization/kakao">카카오 로그인</a>
        </div>

    </form>
</div>
</html>