<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sample List - 샘플 리스트</title>
    <link rel="stylesheet" th:href="@{/css/sample.css}">
</head>
<body>
<header class="header">
    <h1>샘플 게시판</h1>
</header>
<main>
    <section>
        <form th:action="@{/sample/write}" method="post" class="register-form">
            <input class="input-title" type="text" name="title" placeholder="제목" required>
            <textarea class="input-text" name="text" placeholder="내용" required></textarea>
            <button class="input-btn" type="submit">작성</button>
        </form>
    </section>
    <section>
        <ul>
            <li th:each="dto:${responseDTO.dtoList}" class="card">
                <input type="text" readonly class="title" th:value="${dto.title}">
                <textarea readonly class="content">[[${dto.text}]]</textarea>
            </li>
        </ul>
    </section>
</main>
</body>
</html>