.account-form:after {
    display: block;
    content: "";
    clear: both;
}
.account-form > * {
    display: block;
    box-sizing: border-box;
    border: 1px solid var(--line-color);
    border-radius: 0;
    padding: 10px 5px;
    margin: 0 0 10px;
    line-height: 20px;
    float: left;
}


.account-form > label {
    width: 100px;
    border-radius: 10px 0 0 10px;
    background: var(--line-color);
    text-align: center;
}

.account-form > input,
.account-form > textarea {
    width: calc(100% - 100px);
    border-radius: 0 10px 10px 0;
    border-left: none;
}

.account-form > label[for='content'] {
    line-height: 300px;
    height: 300px;
}
.account-form > #content {
    height: 300px;
    resize: none;
}

.account-form > #snp {
    height: 42px;
}

.user-form:after {
    display: block;
    content: "";
    clear: both;
}
.user-form > * {
    display: block;
    border: 1px solid var(--line-color);
    border-radius: 5px;
    padding: 10px;
    margin: 0;
    line-height: 20px;
    float: left;
}

.user-form > *:not(:first-child) {
    margin-right: 10px;
}

.user-form > button {
    padding-left: 20px;
    padding-right: 20px;
}

#replyForm {
    box-sizing: border-box;
    padding: 10px;
}

#replyForm:after {
    display: block;
    content: "";
    clear: both;
}

#replyForm > *:not(label) {
    display: block;
    box-sizing: border-box;
    border: none;
    padding: 10px;
    margin: 0;
    float: left;
    resize: none;
}

#replyForm > #replyWriter {
    width: 100px;
    text-align: center;
}

#replyForm > #replyContent {
    width: calc(100% - 200px);
    height: 80px;
    border-radius: 5px 0 0 5px;
    border: 1px solid var(--line-color);
    border-right: none;
}

#replyForm > #replyRegisterBtn {
    width: 100px;
    height: 80px;
    background-color: var(--line-color);
    border-radius: 0 5px 5px 0;
}

.reply-item {
    border-top: 1px solid var(--line-color);
    padding: 10px;
}

.reply-item:after {
    display: block;
    content: "";
    clear: both;
}

.reply-item > * {
    display: block;
    box-sizing: border-box;
    border: none;
    padding: 10px;
    margin: 0;
    float: left;
    resize: none;
}

.reply-item > input {
    width: 100px;
    text-align: center;
}

.reply-item > textarea {
    width: calc(100% - 200px);
    height: 80px;
    border-radius: 5px;
    border: 1px solid var(--line-color);
}

.reply-item > time {
    width: 100px;
    font-size: 0.75em;
}
.reply-item > button {
    padding: 0 10px;
    background-color: white;
    cursor: pointer;
}
.reply-item > button:first-of-type {
    border-right: 1px solid var(--line-color);
}

#replyPaging {
    text-align: center;
}

#replyPaging > li {
    display: inline-block;
    border: 1px solid var(--line-color);
    border-radius: 5px;
    margin: 0 5px;
}

#replyPaging > li > a {
    display: block;
    padding: 10px;

}

#replyPaging > li:hover > a {
    color: black;
    background-color: var(--line-color);
}

#replyPaging > li > a.active {
    background-color: #008cff;
    color: white;
}